@media (min-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 450px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1360px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1410px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1700px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1820px;
    margin: 0 auto;
  }
}
.header {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  height: 60px;
  border: 1px solid #ECECEC;
}
@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}
.header .logo__container {
  margin: 16px 0px 15px 16px;
}
.header .logo__container a {
  text-decoration: none;
}
.header__logo {
  margin: 0;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.header__logo span {
  margin: 0;
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
}
.header__button {
  background: transparent;
  border: none;
}
@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header-button__container {
  height: 40px;
  margin: 10px 10px 10px 0px;
}
@media (min-width: 768px) {
  .header-button__container {
    display: none;
  }
}
.header-button__container :hover svg, .header-button__container :focus svg {
  fill: #2196F3;
  transition: 0.5s;
}
.header-button__icon {
  width: 40px;
  height: 40px;
}
.header-button__icon use {
  width: 100%;
}
.header__info-item {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2196F3;
  margin-bottom: 32px;
}
.header__info-item a {
  text-decoration: none;
  color: #2196F3;
}
.header__info-item:nth-child(2n) a {
  font-size: 24px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 64px;
}
.header__info-item:last-child {
  margin-bottom: 0px;
}
.header-social__list {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  flex-wrap: wrap;
}
.header-social__list a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2196F3;
}
.header-social__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 0px 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-social__item:first-child {
  padding-left: 0px;
}
.header-social__item:last-child {
  padding-right: 0px;
  border: none;
}
.header-nav__menu {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: calc(100% - 58px);
  width: 0;
  background: #FFFFFF;
  z-index: 9999;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px 48px 40px;
  width: calc(100% - 55px);
  transform: translateX(-100%);
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header-nav__menu {
    visibility: visible;
    transform: none;
  }
}
.header-nav__navigation {
  height: 60px;
}
@media (min-width: 768px) {
  .header-nav__navigation {
    height: 80px;
  }
}
.header-nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-nav__close {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
.header-nav__close svg {
  width: 19px;
  height: 19px;
}
.header-nav__burger {
  height: 40px;
}
.header-nav__burger:hover svg, .header-nav__burger:focus svg {
  fill: #2196F3;
  transition: 0.5s;
}
.header-nav__list {
  margin-top: 38px;
}
.header-nav__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.header-nav__item:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}
.header-nav__item a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  height: 58px;
}
.header-nav__item a:hover, .header-nav__item a:focus {
  color: #2196F3;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header-nav__menu {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 80px;
    padding: 0px;
    align-items: center;
    width: 66%;
    z-index: 0;
  }
  .header-nav__burger {
    display: none;
  }
  .header-nav__burger__container {
    margin: 0;
  }
  .header-nav__list {
    margin-top: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .header-nav__item {
    margin-right: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .header-nav__item:hover, .header-nav__item:focus {
    border-bottom: 4px solid #2196F3;
    transition: 0.5s;
  }
  .header-nav__item a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    height: 78px;
  }
}
@media (min-width: 768px) {
  .header-social__list {
    display: none;
  }
  .header__info {
    display: flex;
    flex-direction: column;
  }
  .header__info-item {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 0px;
  }
  .header__info-item a {
    color: #757575;
  }
  .header__info-item:first-child {
    order: 2;
  }
  .header__info-item:first-child a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
  }
  .header__info-item:first-child a:hover, .header__info-item:first-child a:focus {
    color: #2196F3;
    transition: 0.5s;
  }
  .header__info-item:first-child a:hover::before, .header__info-item:first-child a:focus::before {
    content: url(.././img/smartphone-blue.svg);
  }
  .header__info-item:first-child a::before {
    content: url(.././img/smartphone.svg);
    display: block;
    height: 14px;
    width: 10px;
    line-height: 10px;
    margin-right: 8px;
  }
  .header__info-item:nth-child(2n) {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    order: 1;
  }
  .header__info-item:nth-child(2n) a {
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__info-item:nth-child(2n) a:hover, .header__info-item:nth-child(2n) a:focus {
    color: #2196F3;
    transition: 0.5s;
  }
  .header__info-item:nth-child(2n) a:hover::before, .header__info-item:nth-child(2n) a:focus::before {
    content: url(.././img/envelope-blue.svg);
  }
  .header__info-item:nth-child(2n) a::before {
    content: url(.././img/envelope.svg);
    display: block;
    height: 10px;
    width: 14px;
    line-height: 14px;
    margin-right: 8px;
  }
}
@media (min-width: 1200px) {
  .header .header-nav__menu {
    width: 77%;
  }
  .header .header__info {
    flex-direction: row;
    align-items: center;
  }
  .header .header__info-item {
    margin: 0;
  }
  .header .header__info-item:nth-child(2n) {
    margin-right: 40px;
  }
  .header .header__info-item a {
    font-size: 14px;
    line-height: 16.41px;
  }
  .header .header__info-item:nth-child(2n) a {
    margin-bottom: 0px;
  }
}

.active {
  background-color: #2196F3;
  color: #FFFFFF;
}

.show {
  visibility: visible !important;
  transform: translateX(0) !important;
  transition: 0.5s;
}

.fixed {
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .current-page {
    border-bottom: 4px solid #2196F3 !important;
  }
  .current-page a {
    color: #2196F3;
  }
}